[*.{kt,kts}]
indent_size=4
insert_final_newline=true
max_line_length=150

# See https://github.com/pinterest/ktlint/issues/527
disabled_rules=import-ordering

ij_continuation_indent_size=4
ij_kotlin_code_style_defaults=KOTLIN_OFFICIAL
